
body {
    background-color: #020304;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    margin: 1em 0 0;
}

#wrapper {
    margin: auto;
    max-width: 60em;
}

#info {
    background-color: #0dcaf0;
    border-radius: .25em;
    color: #242424;
    margin: 1em 0;
    padding: .5em;
}

#info svg {
    vertical-align: middle;
}

#buttons {
    text-align: center;
}

.item {
    display: inline-block;
    margin: 1em;
    text-align: left;
    vertical-align: top;
    width: 4.6875em;
}

.button {
    height: 4.4375em;
    position: relative;
    width: 100%;
}

.button button {
    background: url(img/button_normal.webp) no-repeat;
    border: none;
    cursor: pointer;
    font: inherit;
    height: 100%;
    position: absolute;
    width: 100%;
}

.button button:active {
    background-image: url(img/button_pressed.webp);
}

.button .button-background {
    background-color: red;
    border-radius: 50%;
    height: 4.1899em;
    left: .1496em;
    position: absolute;
    top: .1496em;
    width: 4.2897em;
}

.item .label {
    hyphens: auto;
    margin-top: .5em;
    text-align: center;
}

@media (max-width: 400px) {
    h1 span {
        font-size: 1.5rem;
    }
}